.expose-overlay {
    background:rgba(0,0,0,0.6);
    z-index: 9999;
}

#guides{
    margin: 0;
    padding: 0;
    list-style: none;
}

#guides li{
    margin-bottom: 5px;
}

#guides li a{
    width: 100%;
}

#formule{
    padding-bottom: 20px;
}

.bloc{
    margin: 40px 0;
}

cite{
    font-style: italic;
}

dl dt, dl dd{
    float: left;
    display: block;
}

dl dt{
    width: 5%;
}

dl dd{
    width: 95%;
}

sup{
    padding: 0px 3px 0 1px;
}

.popover-content{
    font-weight: 500;
    font-size: 13px;
}

.popover {
    width: 400px;
}

.annotator-hl{
    padding: 0 5px;
}

.annotator-hl-regle {
    background:  #e1b576;
    cursor:pointer;
}

.annotator-hl-destacat {
    background:  #dfffbf;
    cursor:pointer;
}

.annotator-hl-subratllat {
    background: rgba(255, 255, 10, 0.3);
    text-decoration:underline;
    cursor:pointer;
}